.table-responsive {
    margin: 20px;
}
.selectedShare { 
	margin: 20px;
}
.main-space{
	padding: 3%;
	margin-top: 20px;
}
h1{
	color: #fff;
	padding: 5%;
	font-size: 1.5rem;
	font-family: sans-serif;
	font-weight: 100;
}
label{
	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
	width: 40%;
	padding-right: 2%;
}
.fieldInput{
	background-color: transparent;
	color: white;
	}
.section{
	padding: 10%;
}
