<div class="main-space">
  <div class="row">
    <div class="col-lg-12">
      <div class="currentPrice">
        <h1>
          Current Share Price: {{ currentSharePrice?.value | number: "1.2-2" }}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Certificate</th>
              <th scope="col">Issued Date</th>
              <th scope="col">Number of Shares</th>
              <th scope="col">Shares for Sale</th>
              <th scope="col">Value of Shares</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let share of shares; let i = index"
              (click)="RowSelected(share)"
            >
              <td>{{ share.certificateId }}</td>
              <td>{{ share.issuedDate | slice: 6:14 }}</td>
              <td>{{ share.numberOfShares }}</td>
              <td>{{ share.numberOfShares }}</td>
              <td>
                {{
                  currentSharePrice.value * share.numberOfShares
                    | number: "1.2-2"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div *ngIf="selectedShare">
        <p class="selectedShare">
          Share ID: {{ selectedShare.certificateId }}. Remaining shares:
          {{ selectedShare.numberOfShares }}
        </p>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <label>Shares to trade: </label>
          <input
            class="fieldInput"
            type="number"
            formControlName="numberOfShares"
            [(ngModel)]="selectedShare.numberOfShares"
            [value]="selectedShare.numberOfShares"
          />
        </div>
        <div>
          <label>Shares to sell: </label>
          <input
            class="fieldInput"
            type="number"
            formControlName="sellShares"
            [value]="calculatesellShares()"
          />
        </div>
        <button type="submit">submit</button>
      </form>
    </div>
    <!-- <div class="col-2">
			<button type="button" class="btn btn-secondary selectedShare">
				Sell Shares
			</button> -->
    <!-- </div> -->
  </div>
</div>
